/* Base sheet */
p, h3{
  /* Base declaration for font size and text align */
  font-size: 2em;
  text-align: center;
}
body{
  /* Base declaration for font color */
  color: #66656d;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.header__row{
  /* Base declaration for header */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .header__row{
        margin-left: 20%;
        margin-right: 10%;
        display: flex;
        }
    }
.header__logo{
  /* Base declaration for header__logo */
}
.header__logo__inner{
  width: 30vw;
  height: 20vh;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .header__logo{
        margin-top: 5%;
      }
    }

    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .header__logo{
        flex: 1;
      }
      .header__logo__inner{
        width: 20vw;
        height: 25vh;
      }
    }
.header__title{
  /* Base declaration for header__title */
  width: 100%;
  text-align: center;
}
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .header__title{
        flex: 2;
        align-self: flex-end;
        text-align: right;
      }
    }
.header__title__h1{
  /* Base declaration for header__title__h1 */
  margin: 0;
  font-size: 3.5rem;

}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .header__title__h1{
        font-size: 5.5em;
      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .header__title__h1{
        font-size: 4.5rem;
      }
    }
.header__title__h2{
  /* Base declaration for header__title__h2 */
  margin: 0;
  font-size: 2.0rem;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .header__title__h2{
        font-size: 2.5em;
      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .header__title__h2{
        font-size: 2.5rem;
      }
    }
.line{
  /* Base declaration for font line */
  /* border-width | border-style | border-color */
  border: 2px grey solid;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .line{
        margin: 2% 10% 5% 20%;
      }
    }
.color{
  order: 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .color{
        order: 1;
        width: 10vw;
        margin: auto;

      }
    }
.color__set{
  flex: 1;

}
.color__set__1{
  flex: 1;
  order: -1;
}
.color__set__02b3e4{
  width: 98vw;
  height: 10vh;
  background-color: #02b3e4;

}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .color__set__02b3e4{
        height: 15vh;
      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .color__set__02b3e4{
        width: 10vw;
      }
    }
.color__set__2d3c49{
  width: 98vw;
  height: 10vh;
  background-color: #2d3c49;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .color__set__2d3c49{
        height: 15vh;
      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .color__set__2d3c49{
        width: 10vw;
      }
    }
.color__set__7d97ad{
  width: 98vw;
  height: 10vh;
  background-color: #7d97ad;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .color__set__7d97ad{
        height: 15vh;
      }
    }
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 1024px){
      .color__set__7d97ad{
        width: 10vw;
      }
    }

.color__set__text{
  margin: 0;
}
.main{
  order: 1;
}
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .main{
        order: 2;
        width: 80vw;
      }
    }
.main__img{
  width: 98vw;
  height: 70vh;
}
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .main__img{
        width: 70vw;
      }
    }
.featured{
  order: 3;
  text-align: center;
  margin-top: 5%;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .featured{
        width: 98vw;
      }
    }

    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .featured{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin: 5% 10% 2% 19%;
      }
    }
.featured__title{
  width: 100vw;
}
  /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
  @media screen and (min-width: 1024px){
    .featured__title{
      width: 70vw;
      text-align: left;
    }
  }
.featured__title__h2{
  font-size: 3.5rem;
  margin: 0;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .featured__title__h2{
        font-size: 4.5rem;
      }
    }
.featured__img{
  margin-bottom: 5%;
}
    /* Tablet styles sheet  eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .featured__img{
        width: 98vw;
      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .featured__img{
        align-self: flex-start;
        width: 21vw;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
.featured__img__1{
  width: 98vw;
}
  /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
  @media screen and (min-width: 1024px){
    .featured__img__1{
      flex: 1;
      width: 20vw;
      height: 20vh;
    }
  }
.featured__img__text{
    margin: 0;
}
    /* Tablet styles sheet eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .featured__img__text{
        font-size: 3.5rem;

      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .featured__img__text{
        font-size: 2.5rem;

      }
    }
.featured__img__text__link{
}
    /* Tablet styles sheet eg. @screen media and (min-width: 768px)  */
    @media screen and (min-width: 768px){
      .featured__img__text__link{
        font-size: 3.0rem;
        margin: 0;
      }
    }
    /* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
    @media screen and (min-width: 1024px){
      .featured__img__text__link{
        font-size: 1.1rem;
        margin: 0;
      }

    }
.footer{
  text-align: center;
}
/* Desktop styles sheet eg. @screen media and (min-width: 1024px)  */
@media screen and (min-width: 1024px){
  .footer{
    margin: 2% 10% 5% 20%;
  }
}
