p, h3{
  font-size: 2em;
  text-align: center;
}


.header__logo__inner{
  margin-left: 37%;
  width: 30%;
  height: 30%;
}

.header__title{
  width: 100%;
  height: 30%;
  text-align: center;
  margin-bottom: 2%;
}

.header__title__h1{
  font-size: 3em;
}

.line{
  border: 1px black solid;
}
.color{
  float: left;
  width: 20%;
  margin: 10px;

}

.color__1{

}
.color__1__fill{
  width: 5em;
  height: 5em;
  background-color: #02b3e4;
  margin: auto;

}
.color__2{

}
.color__2__fill{
  width: 5em;
  height: 5em;
  background-color: #2d3c49;
  margin: auto;

}
.color__3{

}
.color__3__fill{
  width: 5em;
  height: 5em;
  background-color: #7d97ad;
  margin: auto;
}

.main{
  float: left;
  width: 73%;
  margin: 2% 2% 3% 2
}
.main__img{
  width: 100%;
  height: 100%;

}

.featured{
  display: flex;
  float: right;
  width: 82%;

}

.featured__img{

}
.feature__img__1{
  margin-left: 20%;
  width: 60%;
  height: 60%;
}
.clearfix{
  overflow: auto;
}
