p, h3{
  font-size: 2em;
  text-align: center;
}


.header__logo__inner{
  margin-left: 27%;
  width: 50%;
  height: 50%;
}

.header__title{
  width: 100%;
  height: 30%;
  text-align: center;
  margin-bottom: 2%;
}

.header__title__h1{
  font-size: 4em;
}



.color__1{
  text-align: center;
}
.color__1__fill{
  width: 100%;
  height: 5em;
  background-color: #02b3e4;
  margin: auto;
}
.color__2{
  text-align: center;
}
.color__2__fill{
  width: 100%;
  height: 5em;
  background-color: #2d3c49;
  margin: auto;

}
.color__3{

}
.color__3__fill{
  width: 100%;
  height: 5em;
  background-color: #7d97ad;
  margin: auto;

}


.main__img{
  width: 100%;
  height: 100%;

}
.feature__img__1{
  margin-top: 10%;
  margin-left: 20%;
  width: 60%;
  height: 60%;
}
.feature__img__text{
  font-size: 1.1em;
  margin-bottom: 10%;
}
