p, h3{
  font-size: 2em;
  text-align: center;
}

main{
  color: #66656d;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.header{
  width: 78%;
  margin-left: 17%;

}
.header__logo{
  width: 19%;
  height: 19%;
  float: left;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
}
.header__logo__inner{
  margin-left: 0%;
  width: 100%;
  height: 30%;
}

.header__title{
  width: 80%;
  margin-top: 10%;
  margin-bottom: 1%;
  text-align: right;
}

.header__title__h1{
  font-size: 5em;
  margin: 0;
}
.header__title__h2{
  font-size: 2em;
  margin: 0;
}

.line{
  border: 3px grey solid;
  width: 77%;
  float: right;
  margin-right: 5%;
}

.color{
  float: left;
  width: 15%;
  margin-top: 2%;
  margin-bottom: 41%;
}

.color__1{

}
.color__1__fill{
  width: 50%;
  height: 10em;
  background-color: #02b3e4;
  margin: auto;

}
.color__2{

}
.color__2__fill{
  width: 50%;
  height: 10em;
  background-color: #2d3c49;
  margin: auto;

}
.color__3{

}
.color__3__fill{
  width: 50%;
  height: 10em;
  background-color: #7d97ad;
  margin: auto;

}

.main{
    float: left;
    width: 77%;
    margin: 2% 2% 5% 2%;
}
.main__img{
  width: 100%;
  height: 100%;

}
.featured{
  float: left;
  width: 80%;
  margin-bottom: 1%;
  margin-right: 2%;

}
.featured__title{
  width: 100%;
}
.featured__title__h1{
  font-size: 4em;
}
.featured__img{
  width: 33%;
}
.feature__img__1{
  margin-top: 2%;
  margin-left: 5%;
  width: 77%;
  height: 77%;
}
.feature__img__text{
  padding-right: 14%;
  font-size: 3em;
  margin-bottom: 0;
}

.clearfix{
  overflow: auto;
}
.footer{
  font-size: 2em;
  padding-top: 20%;
  text-align: center;
}
